services:
  database:
    image: mariadb:10.11
    container_name: mariadb_database
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - my_network

  app_1:
    build:
      context: .
      dockerfile: php/Dockerfile
    image: app_1:latest
    container_name: app_1
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./${HOST_PATH}:/var/www/html
    environment:
      APP_URL: ${APP_URL}
      ASSET_URL: ${ASSET_URL}
      APP_ENV: ${APP_ENV}
      APP_DEBUG: ${APP_DEBUG}
      DB_CONNECTION: ${DB_CONNECTION}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
    depends_on:
      - database
    networks:
      - my_network

  nginx:
    image: nginx:alpine
    container_name: nginx_server
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./${HOST_PATH}:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app_1
    networks:
      - my_network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      PMA_HOST: ${DB_HOST}
      PMA_USER: ${DB_USERNAME}
      PMA_PASSWORD: ${DB_PASSWORD}
      UPLOAD_LIMIT: ${UPLOAD_LIMIT}
    depends_on:
      - database
    networks:
      - my_network

volumes:
  db_data:

networks:
  my_network:
    driver: bridge
